@using SUAVVY_FusionHacks2.Data
@inject NavigationManager Nav
@inject AppShellContext AppShell
<style>
    .userpane {
        font-size: 24px;
        color: black;
        text-transform: capitalize;
    }
</style>
<nav class="mobile-nav" onclick="hideMenu()">
    @if (AppShell.IsUserLoggedIn)
    {
        if (AppShell.CurrentUser != null)
        {
            <div class="userpane">
                <i class="fas fa-user"></i>&nbsp;
                Hi @AppShell.CurrentUser.Username
                <a class="btn btn-outline-danger" href="javascript:void(0)" style="float:right" @onclick="Logout">
                    <i class="fas fa-sign-out-alt"></i>
                </a>

            </div>
        }
    }
    <ul>
        
    </ul>
    <hr />
    @if (AppShell.IsUserLoggedIn)
    {
        if(AppShell.CurrentUser.Username == "admin")
        {
            <ul>
                <!--Admin Pages Here-->
                <li>
                    <a class="nav-link" href="ADMIN_Dashboard">
                        <i class="fa fa-home"></i>&nbsp;Home
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="ADMIN_Products">
                        <i class="fa fa-shopping-bag"></i>&nbsp;Products
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="ADMIN_Recipes">
                        <i class="fa fa-cash-register"></i>&nbsp;Recipes
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="ADMIN_Users">
                        <i class="fa fa-users"></i>&nbsp;Users
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="ADMIN_Orders">
                        <i class="fa fa-truck"></i>&nbsp;Orders
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="ADMIN_Sales">
                        <i class="fa fa-bar-chart"></i>&nbsp;Sales
                    </a>
                </li>
            </ul>
        }
        else
        {
            <ul>
                <!--Admin Pages Here-->
                <li>
                    <a class="nav-link" href="USERS_Dashboard">
                        <i class="fa fa-home"></i>&nbsp;Home
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="USERS_Products">
                        <i class="fa fa-shopping-bag"></i>&nbsp;Products
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="USERS_Cart">
                        <i class="fa fa-dolly-flatbed"></i>&nbsp;Cart
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="USERS_PurchaseHistory">
                        <i class="fa fa-clock-o"></i>&nbsp;History
                    </a>
                </li>
            </ul>
        }
    }
    else
    {
        <ul>
            <li>
                <a class="nav-link" href="register">
                    <i class="fa fa-list"></i>&nbsp;Register
                </a>
            </li>
            <li>
                <a class="nav-link" href="">
                    <i class="fa fa-sign-in-alt"></i>&nbsp;Login
                </a>
            </li>
        </ul>
    }
</nav>
@code {
    protected override void OnInitialized()
    {
        AppShell.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        AppShell.OnChange -= StateHasChanged;
    }

    public async void Logout()
    {
        AppShell.ClearSessionUser();
        AppShell.CurrentUser = null;
        AppShell.IsUserLoggedIn = false;
        await InvokeAsync(StateHasChanged);
        Nav.NavigateTo($"/?returnto=home");
    }
}
